
%bnpequeño {
    width: 350px;
    height: 200px;
    overflow: hidden;
}
.tarjetas {
    display: flex;
    flex-direction: wrap;
    .bnpequeño {
        @extend %bnpequeño;
        margin: 10px 20px 10px 10x;
        border: black solid ;
        overflow: hidden;
        @mixin bn ($background ,$color) {
            background-color: $background ;
            color: $color;
            font-size: 20px;
            padding-left: 10px;
        .bn {
            @include bn (pink, white)
                { padding: 10px;
                background-color: $colorPrincipal;
                color: white;
                font-size: 20px;
                padding-left: 10px;
                margin: 20px 30px 10px 10px;
                border-color: #8b0000;
                width: 650px; }
            @media(max-width:576px) {
                display: flex;
                flex-wrap: wrap; 
        
                }
            }
        }
    }
} 


